<fieldset class="no-border-bottom">
    <legend><%= title %></legend>
    <table>
      <thead>
        <tr>
          <th><%= Spree::Adjustment.human_attribute_name(:name)%></th>
          <th><%= Spree::Adjustment.human_attribute_name(:value)%></th>
        </tr>
      </thead>
      <tbody id="order-charges" data-hook="order_details_adjustments"  class="with-border">
        <tr class="total">
          <td><strong><%= t 'shipwire.status' %>:</strong></td>
          <td class="total align-center">
            <span><%= @shipwire_data.status %></span>
          </td>
        </tr>
        <tr class="total">
          <td><strong><%= t 'shipwire.ship_to' %>:</strong></td>
          <td class="total align-center">
            <span><%= @shipwire_data.ship_to %></span>
          </td>
        </tr>
        <tr class="total">
          <td><strong><%= t 'shipwire.ship_from' %>:</strong></td>
          <td class="total align-center">
            <span><%= @shipwire_data.ship_from %></span>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
