<% content_for :page_actions do %>
  <% if can?(:fire, @order) %>
    <li><%= event_links %></li>
  <% end %>
  <% if can?(:resend, @order) && @order.completed? %>
    <li><%= button_link_to Spree.t(:resend), resend_admin_order_url(@order), :method => :post, :icon => 'email' %></li>
  <% end %>
  <% if can?(:admin, Spree::Order) %>
    <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'arrow-left' %></li>
  <% end %>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Shipwire' } %>

<div data-hook="admin_order_edit_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
</div>

<div data-hook="admin_order_shipwire_form">
  <div id="order-form-shipwire">
    <div id="errors" class="alert alert-danger <%= 'hidden' if @error.nil? %>" data-hook="">
      <%= render partial: 'spree/admin/orders/shipwire_error', error: @error %>
    </div>
    <% if @order.shipwire_id.nil? %>
      <%= link_to Spree.t(:sync_with_shipwire), shipwire_admin_order_url(@order), id: :retry_shipwire, remote: true %>
    <% end %>
    <div id='shipwire_data'>
      <% unless @order.shipwire_id.nil? %>
        <%= render partial: 'spree/admin/orders/shipwire_data', shipwire_data: @shipwire_data %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag do -%>
$('#retry_shipwire').bind('ajax:beforeSend', function() {
  $('#errors').hide()
});
<% end %>
